<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../../partials/common/meta') -%>
    <title>User detail <%= user.email %></title>
</head>

<body class="container">
    <main class="user-info-page">
        Detail user info <%= user.email %>
    </main>
</body>

</html>